<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golden.dao.BeamDataMapper">
  <resultMap id="BaseResultMap" type="com.golden.pojo.BeamData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wifiid" jdbcType="VARCHAR" property="wifiid" />
    <result column="shebeibiaozhi" jdbcType="VARCHAR" property="shebeibiaozhi" />
    <result column="shebeileixing" jdbcType="VARCHAR" property="shebeileixing" />
    <result column="beam" jdbcType="VARCHAR" property="beam" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, wifiid, shebeibiaozhi, shebeileixing, beam
  </sql>
  <select id="selectByExample" parameterType="com.golden.pojo.BeamDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from beam_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from beam_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from beam_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.golden.pojo.BeamDataExample">
    delete from beam_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.golden.pojo.BeamData">
    insert into beam_data (id, wifiid, shebeibiaozhi, 
      shebeileixing, beam)
    values (#{id,jdbcType=INTEGER}, #{wifiid,jdbcType=VARCHAR}, #{shebeibiaozhi,jdbcType=VARCHAR}, 
      #{shebeileixing,jdbcType=VARCHAR}, #{beam,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.golden.pojo.BeamData">
    insert into beam_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wifiid != null">
        wifiid,
      </if>
      <if test="shebeibiaozhi != null">
        shebeibiaozhi,
      </if>
      <if test="shebeileixing != null">
        shebeileixing,
      </if>
      <if test="beam != null">
        beam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wifiid != null">
        #{wifiid,jdbcType=VARCHAR},
      </if>
      <if test="shebeibiaozhi != null">
        #{shebeibiaozhi,jdbcType=VARCHAR},
      </if>
      <if test="shebeileixing != null">
        #{shebeileixing,jdbcType=VARCHAR},
      </if>
      <if test="beam != null">
        #{beam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.golden.pojo.BeamDataExample" resultType="java.lang.Long">
    select count(*) from beam_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update beam_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.wifiid != null">
        wifiid = #{record.wifiid,jdbcType=VARCHAR},
      </if>
      <if test="record.shebeibiaozhi != null">
        shebeibiaozhi = #{record.shebeibiaozhi,jdbcType=VARCHAR},
      </if>
      <if test="record.shebeileixing != null">
        shebeileixing = #{record.shebeileixing,jdbcType=VARCHAR},
      </if>
      <if test="record.beam != null">
        beam = #{record.beam,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update beam_data
    set id = #{record.id,jdbcType=INTEGER},
      wifiid = #{record.wifiid,jdbcType=VARCHAR},
      shebeibiaozhi = #{record.shebeibiaozhi,jdbcType=VARCHAR},
      shebeileixing = #{record.shebeileixing,jdbcType=VARCHAR},
      beam = #{record.beam,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.golden.pojo.BeamData">
    update beam_data
    <set>
      <if test="wifiid != null">
        wifiid = #{wifiid,jdbcType=VARCHAR},
      </if>
      <if test="shebeibiaozhi != null">
        shebeibiaozhi = #{shebeibiaozhi,jdbcType=VARCHAR},
      </if>
      <if test="shebeileixing != null">
        shebeileixing = #{shebeileixing,jdbcType=VARCHAR},
      </if>
      <if test="beam != null">
        beam = #{beam,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.golden.pojo.BeamData">
    update beam_data
    set wifiid = #{wifiid,jdbcType=VARCHAR},
      shebeibiaozhi = #{shebeibiaozhi,jdbcType=VARCHAR},
      shebeileixing = #{shebeileixing,jdbcType=VARCHAR},
      beam = #{beam,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>